.awm-calendar {
    display: flex;
    min-height: 100%;
}

.awm-dialog {
    padding: 0px;
}

.week-day {
    border: 1px solid #e6e6e6;
}

.week-end {
    background-color: #F2F2F3;
}

.today {
    /* indigo-pink accent color */
    border: 1px solid #ff4081;
}

.day-name {
    color: #7e7e7e;
    margin-bottom: 6px;
}

.day-header {
    margin: 8px 8px 6px 6px;
}

.day-content {
    font-size: 12px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    margin-right: 3px;
}

.awm-block {
    border: 1px solid #e6e6e6;
    cursor: pointer;
}

.awm-block-cycle {
    color: #7e7e7e;   
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

.sidenav-container {
    /* This causes <mat-sidenav-content> to act as our scrolling element */
    flex: 1;
}

.sidenav {
    /* Drawer slide out size */
    width: 250px;
}