<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="side" fixedInViewport="false" fixedTopGap="56" closed>
        <mat-accordion displayMode="flat">
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Training Blocks
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                    <mat-checkbox [checked]="show('MS')">Max Strength</mat-checkbox>
                    <mat-checkbox [checked]="show('EN')">Endurance</mat-checkbox>
                    <mat-checkbox [checked]="show('GC')">General Conditioning</mat-checkbox>
                    <mat-checkbox [checked]="show('HIC')">High Intensity Conditioning</mat-checkbox>
                    <mat-checkbox [checked]="show('HGC')">High Intensity GC</mat-checkbox>
                    <mat-checkbox [checked]="show('SE')">Strength Endurance</mat-checkbox>
                    <mat-checkbox [checked]="show('SS')">Super Sets</mat-checkbox>
                    <mat-checkbox [checked]="show('OFF')">Days Off</mat-checkbox>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <div class="awm-calendar" fxLayout="column">
            <div *ngFor="let week of weeks; let i = index" fxFlex>
                <div *ngFor="let item of week" fxFlex fxLayout="row nowrap">
                    <div class="week-day" (click)="onClick($event, item)" fxLayout="column" fxFlex>
                        <div class="day-header">
                            <div class="day-name" *ngIf="i == 0">{{item.date | date: 'E'}}</div>
                            <div fxLayout>
                                <div *ngIf="item.num == 1 ? 'LLL d' : 'd'; let fmt" fxFlex>
                                    {{item.date | date: fmt}}
                                </div>
                                <div class="awm-block-cycle">{{item.cycle}}</div>
                            </div>
                        </div>
                        <div class="day-content" *ngFor="let block of item.blocks">
                            <div [class.awm-block]="block.type != 'OFF'" fxLayout>
                                <awm-tr-block [block]="block" [styles]="styles" fxFlex></awm-tr-block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </mat-sidenav-content>
</mat-sidenav-container>


<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>
