.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

.block {
    background-color: #ffd11a;
}

.awm-se-header {
     background-color: #ffd11a;
     padding: 5px;
}