<form>
    <mat-radio-group fxLayout value="LSD">
        <mat-card class="awm-editor-block" fxFlex="25">
            <mat-radio-button class="awm-editor-type" value="LSD">Long Slow Distance</mat-radio-button>
            <mat-form-field>
                <input matInput placeholder="Time" value="PT60M">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Distance" value="3m">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Type" value="Trainer">
            </mat-form-field>
            <mat-radio-group fxLayout value="TIMED">
                <mat-radio-button style="margin-right: 15px" value="TIMED">Timed</mat-radio-button>
                <mat-radio-button value="DIST">Distance</mat-radio-button>
            </mat-radio-group>
        </mat-card>
        <mat-card class="awm-editor-block" fxFlex="25">
            <mat-radio-button class="awm-editor-type" value="FNT">Fobbit</mat-radio-button>
            <mat-form-field>
                <input matInput placeholder="Time" value="PT60M">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Type" value="Trainer">
            </mat-form-field>
        </mat-card>
        <mat-card class="awm-editor-block" fxFlex="25">
            <mat-radio-button class="awm-editor-type" value="ROW">Rowing</mat-radio-button>
            <mat-form-field>
                <input matInput placeholder="Time" value="PT60M">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Distance" value="3m">
            </mat-form-field>
            <mat-radio-group fxLayout value="TIMED">
                <mat-radio-button style="margin-right: 15px" value="TIMED">Timed</mat-radio-button>
                <mat-radio-button value="DIST">Distance</mat-radio-button>
            </mat-radio-group>
        </mat-card>
        <mat-card class="awm-editor-last-block" fxFlex="25">
            <mat-radio-button class="awm-editor-type" value="RCK">Ruck</mat-radio-button>
            <mat-form-field>
                <input matInput placeholder="Time" value="PT60M">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Distance" value="3m">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Weight (lbs)" value="35">
            </mat-form-field>
            <mat-radio-group fxLayout value="TIMED">
                <mat-radio-button style="margin-right: 15px" value="TIMED">Timed</mat-radio-button>
                <mat-radio-button value="DIST">Distance</mat-radio-button>
            </mat-radio-group>
        </mat-card>
    </mat-radio-group>
</form>
