table {
    width: 100%;
}

.week-day {
    font-size: 12px;
    color: #888888;
}

.mat-column-date {
    width: 90px;
}

.mat-column-cycle {
    width: 70px;
    text-align: center;
}

th.mat-sort-header-sorted {
    color: black;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

.sidenav-container {
    /* This causes <mat-sidenav-content> to act as our scrolling element */
    flex: 1;
}

.sidenav {
    /* Drawer slide out size */
    width: 250px;
}