.awm-dialog-content {
    overflow: auto;
    height: 250px;
    padding-top: 10px;
    padding-left: 20px;
}

.awm-dialog-toolbar {
    padding-left: 10px;
}

.awm-block-header {
    padding: 5px;
}

.awm-block-border {
    border: 1px solid #e6e6e6;
}