<ng-container [ngSwitch]="mode">
    <div *ngSwitchCase="'header'" class="awm-hgc-block" [ngStyle]="styles" fxLayout fxLayoutAlign="start center" fxLayoutGap="12px">
        <mat-icon>directions_walking</mat-icon>
        <div>HGC</div>
    </div>
    <div *ngSwitchCase="'horz'" class="awm-hgc-block" [ngStyle]="styles" fxLayout fxLayoutAlign="start center" fxLayoutGap="12px">
        <mat-icon>directions_walking</mat-icon>
        <span>HGC: {{block.style}} - {{block.key}} - {{block.work | duration}}</span>
    </div>
    <div *ngSwitchCase="'vert'" [ngStyle]="styles">
        <div>{{block.key}}</div>
        <div>{{block.style}}</div>
        <div>{{block.work | duration}}</div>
        <div>{{block.meta}}</div>
        <div *ngIf="block.notes">{{block.notes}}</div>
    </div>
    <div *ngSwitchDefault class="awm-hgc-block" [ngStyle]="styles">
        HGC: {{block.style}} - {{block.key}} - {{block.work | duration}}
    </div>
</ng-container>