<ng-container [ngSwitch]="mode">
    <div *ngSwitchCase="'header'" class="awm-gc-block" [ngStyle]="styles" fxLayout fxLayoutAlign="start center" fxLayoutGap="4px">
        <app-icon [icon]="block.key"></app-icon>
        <div>GC</div>
    </div>
    <div *ngSwitchCase="'horz'" class="awm-gc-block" [ngStyle]="styles" fxLayout fxLayoutAlign="start center" fxLayoutGap="12px">
        <app-icon [icon]="block.key"></app-icon>
        <span>GC: {{block.key}} - {{block.meta}} - {{block.work | duration}}</span>
    </div>
    <div *ngSwitchCase="'vert'" class="awm-gc-vert" [ngStyle]="styles">
        <div>{{block.key}}</div>
        <div>{{block.meta}}</div>
        <div>{{block.work | duration}}</div>
    </div>
    <div *ngSwitchDefault class="awm-gc-block" [ngStyle]="styles">
        GC: {{block.key}} - {{block.meta}} - {{block.work | duration}}
    </div>
</ng-container>