<ng-container [ngSwitch]="block.type">
    <awm-en-block  *ngSwitchCase="'EN'"  [block]="block" [mode]="mode" [styles]="styles"></awm-en-block>
    <awm-gc-block  *ngSwitchCase="'GC'"  [block]="block" [mode]="mode" [styles]="styles"></awm-gc-block>
    <awm-hgc-block *ngSwitchCase="'HGC'" [block]="block" [mode]="mode" [styles]="styles"></awm-hgc-block>
    <awm-hic-block *ngSwitchCase="'HIC'" [block]="block" [mode]="mode" [styles]="styles"></awm-hic-block>
    <awm-ms-block  *ngSwitchCase="'MS'"  [block]="block" [mode]="mode" [styles]="styles"></awm-ms-block>
    <awm-off-block *ngSwitchCase="'OFF'" [block]="block" [mode]="mode" [styles]="styles"></awm-off-block>
    <awm-se-block  *ngSwitchCase="'SE'"  [block]="block" [mode]="mode" [styles]="styles"></awm-se-block>
    <awm-ss-block  *ngSwitchCase="'SS'"  [block]="block" [mode]="mode" [styles]="styles"></awm-ss-block>
    <mat-divider   *ngSwitchCase="'BR'"  class="awm-br-block" [vertical]="mode == 'vert'" [ngStyle]="styles"></mat-divider>
</ng-container>

