<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="side" fixedInViewport="false" fixedTopGap="56" closed>
        <ngx-json-viewer [json]="block"></ngx-json-viewer>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <mat-card class="awm-editor-header">
                <mat-card-title fxLayout fxLayoutGap="50px">
                    <div fxFlex fxLayoutAlign="space-between center">
                        <button mat-raised-button type="submit" color="primary" [disabled]="!dirty">Save</button>
                        <awm-tr-block mode="item" [block]="block"></awm-tr-block>
                        <div>{{datestr | date: 'longDate'}}</div>
                    </div>
                    <button mat-mini-fab type="button" color="accent"><mat-icon matTooltip="Delete workout">delete</mat-icon></button>
                </mat-card-title>
            </mat-card>
            <mat-card-content>
                <ng-container [ngSwitch]="block.type">
                    <awm-ms-editor #editor *ngSwitchCase="'MS'"></awm-ms-editor>
                    <awm-tr-block  #editor *ngSwitchDefault [block]="block" mode="vert"></awm-tr-block>
                </ng-container>
            </mat-card-content>
        </form>
    </mat-sidenav-content>
</mat-sidenav-container>