<div class="awm-container" fxLayout="column">
    <mat-toolbar color="primary" class="awm-toolbar">
        <button type="button" mat-icon-button (click)="onToggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h2 class="awm-title" matTooltip="Awesome Workout Manager">{{title}}</h2>
        <div fxLayout fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex>
            <button mat-button [matTooltip]="today | date: 'fullDate'" (click)="onToday()">Today</button>
            <div fxLayoutGap="2px">
                <button mat-icon-button (click)="onPrev('year')">
                    <mat-icon matTooltip="Previous year">fast_rewind</mat-icon>
                </button>
                <button mat-icon-button (click)="onPrev('month')">
                    <mat-icon class="flip-icon" matTooltip="Previous month">play_arrow</mat-icon>
                </button>
                <button mat-icon-button (click)="onNext('month')">
                    <mat-icon matTooltip="Next month">play_arrow</mat-icon>
                </button>
                <button mat-icon-button (click)="onNext('year')">
                    <mat-icon matTooltip="Next year">fast_forward</mat-icon>
                </button>
            </div>
            <div class="current-date">
                {{current | date: 'MMMM y'}}
            </div>
        </div>
        <div fxLayoutGap="2px">
            <button mat-icon-button [routerLink]="['/calendar', current.year(), current.month() + 1]">
                <mat-icon matTooltip="View Calendar">calendar_today</mat-icon>
            </button>
            <button mat-icon-button [routerLink]="['/schedule', current.year(), current.month() + 1]">
                <mat-icon matTooltip="View Schedule">view_list</mat-icon>
            </button>
            <button mat-icon-button routerLink="/dashboard">
                <mat-icon matTooltip="View Dashboard">dashboard</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div fxFlex>
        <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
</div>
