<ng-container [ngSwitch]="mode">
    <div *ngSwitchCase="'header'" class="awm-off-block" [ngStyle]="styles" fxLayout fxLayoutAlign="start center" fxLayoutGap="12px">
        <mat-icon>local_cafe</mat-icon>
        <div>OFF</div>
    </div>
    <div *ngSwitchCase="'horz'" class="awm-off-block" [ngStyle]="styles" fxLayout fxLayoutGap="12px">
        <mat-icon>local_cafe</mat-icon>
        <span>{{block.comment}}</span>
    </div>
    <div *ngSwitchCase="'vert'" [ngStyle]="styles">
        {{block.comment}}
    </div>
    <div *ngSwitchDefault class="awm-off-block" [ngStyle]="styles">
        {{block.comment}}
    </div>
</ng-container>