<form fxLayout>
    <mat-card class="awm-editor-block">
        <mat-card-subtitle class="awm-editor-inst">Drag and drop to reorder</mat-card-subtitle>
        <mat-card-content dragula="ACTIONS" [(dragulaModel)]="actions">
            <div *ngFor="let action of actions">
                <div fxLayout="nowrap" fxLayoutGap="20px" fxLayoutAlign="start center">
                    <mat-icon class="awm-dragger">drag_indicator</mat-icon>       
                    <mat-form-field>
                        <mat-select disableRipple placeHolder="Exercise" [(value)]="action.key">
                            <mat-option *ngFor="let ex of exercises" [value]="ex.key">
                                {{ex.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="awm-editor-style">
                        <mat-select disableRipple placeHolder="Style" [(value)]="action.style">
                            <mat-option value="STD">Std.</mat-option>
                            <mat-option value="CLUS">Cluster</mat-option>
                            <mat-option value="EMOM">EMOM</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="awm-editor-work">
                        <input matInput placeholder="sets x wt x reps" [(value)]="action.work">
                    </mat-form-field>
                    <mat-form-field class="awm-editor-unit">
                        <mat-select disableRipple placeHolder="Unit" [(value)]="action.unit">
                            <mat-option value="KG">KG</mat-option>
                            <mat-option value="LB">LB</mat-option>
                            <mat-option value="BW">BW</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-icon-button type="button" (click)="onDeleteAction(action)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="awm-editor-block">
        <mat-card-subtitle class="awm-editor-inst">Click to add an exercise</mat-card-subtitle>
        <mat-card-content class="awm-exercise-list">
            <mat-list dense>
                <mat-list-item class="awm-exercise-item"
                    *ngFor="let exercise of exercises" 
                    (click)="onCreateAction(exercise)">
                    {{exercise.name}}
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</form>
