
.awm-editor-header {
    margin: 10px 10px 0px 10px;
}

.awm-editor-block {
    margin: 10px 0px 0px 10px !important;
    min-width: 200px;
}

.awm-editor-notes {
    margin: 10px 10px 0px 10px !important;    
}

.awm-editor-work {
    width: 100px;
}

.awm-editor-unit {
    width: 50px;
}

.awm-editor-inst {
    text-align: center;
}

.awm-exercise-list {
    height: calc(100vh - 270px);
    overflow: auto;
    border: 1px solid #e6e6e6;
}

.awm-exercise-item {
    cursor: pointer;
    padding: 3px;
}

.awm-dragger {
    cursor: grab;
    width: 30px;
}
