<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="side" fixedInViewport="false" fixedTopGap="56" closed>
        <mat-accordion displayMode="flat">
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Training Blocks
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                    <mat-checkbox [checked]="show('MS')">Max Strength</mat-checkbox>
                    <mat-checkbox [checked]="show('EN')">Endurance</mat-checkbox>
                    <mat-checkbox [checked]="show('GC')">General Conditioning</mat-checkbox>
                    <mat-checkbox [checked]="show('HIC')">High Intensity Conditioning</mat-checkbox>
                    <mat-checkbox [checked]="show('HGC')">High Intensity GC</mat-checkbox>
                    <mat-checkbox [checked]="show('SE')">Strength Endurance</mat-checkbox>
                    <mat-checkbox [checked]="show('SS')">Super Sets</mat-checkbox>
                    <mat-checkbox [checked]="show('OFF')">Days Off</mat-checkbox>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <table mat-table [dataSource]="dataSource">
            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let item">
                    <div class="week-day">{{item.date | date:'EEE'}}</div>
                    <div>{{item.date | date:'MMM d, y'}}</div>
                </td>
            </ng-container>
            
            <!-- Cycle Column -->
            <ng-container matColumnDef="cycle">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let item">{{item.cycle}}</td>
            </ng-container>

            <!-- Blocks Column -->
            <ng-container matColumnDef="blocks">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell style="width: auto;" *matCellDef="let item">
                    <awm-tr-block *ngFor="let block of item.blocks" [block]="block" mode="horz"></awm-tr-block>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="display: none;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-sidenav-content>
</mat-sidenav-container>
