<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="side" fixedInViewport="false" fixedTopGap="56" closed>
        <mat-accordion displayMode="flat">
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        JSON
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ngx-json-viewer [json]="item"></ngx-json-viewer>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <mat-form-field *ngIf="item.date">
            <input matInput [matDatepicker]="picker" placeholder="Workout date" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker [startAt]="item.date"></mat-datepicker>
        </mat-form-field>
        <h2>Cycle {{item.cycle}}</h2>
    </mat-sidenav-content>
</mat-sidenav-container>