mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

.sidenav-container {
    /* This causes <mat-sidenav-content> to act as our scrolling element */
    flex: 1;
}

.sidenav {
    /* Drawer slide out size */
    width: 350px;
}

.awm-editor-header {
    margin: 10px 10px 0px 10px;
}

.awm-editor-block {
    margin: 10px 0px 0px 10px !important;
}

.awm-editor-work {
    width: 100px;
}

.awm-editor-unit {
    width: 50px;
}

.awm-dragger {
    cursor: grab;
    width: 30px;
}

.awm-draggable {
    cursor: grab;
}
