<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="side" fixedInViewport="false" fixedTopGap="56" closed>
        <mat-accordion displayMode="flat">
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        JSON
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ngx-json-viewer [json]="item"></ngx-json-viewer>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <mat-card>
            <mat-card-title>{{datestr | date: 'longDate'}}</mat-card-title>
            <mat-card-subtitle>Cycle: {{cycle}}</mat-card-subtitle>
        </mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout>
                <mat-card formArrayName="blocks" *ngFor="let block of getBlocks(form); let i=index">
                    <div [formGroupName]="i">
                        <mat-form-field>
                            <mat-select disableRipple placeHolder="Workout type" formControlName="type">
                                <mat-option *ngFor="let workout of workouts" [value]="workout.value" >
                                    {{workout.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div formArrayName="sets">
                            <div [formGroupName]="j" *ngFor="let set of getSets(block); let j=index">
                                <div fxLayout fxLayoutGap="20px">
                                    <mat-form-field>
                                        <mat-select disableRipple placeHolder="Exercise" formControlName="key">
                                            <mat-option *ngFor="let ex of exercises" [value]="ex.key" >
                                                {{ex.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="sets x wt x reps" formControlName="action">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-select disableRipple placeHolder="Unit" formControlName="unit">
                                            <mat-option value="KG">KG</mat-option>
                                            <mat-option value="LB">LB</mat-option>
                                            <mat-option value="BW">BW</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </form>
        </mat-card-content>
    </mat-sidenav-content>
</mat-sidenav-container>